@import '../../styles/main';

 

  .select-lab-and-field{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    & label{
        font-size: 1rem;
        font-weight: bold;
        display: inline;
        text-align: left;
        margin: 1rem 0 0.2rem;
        width: 30%;
    } & select{
        width: 74%;  
    }
    & .error{
        color: $error-color;
        font-size: 0.75rem;
        text-align: left;
        margin-top: 0.25rem;
    }

  }
  @media (max-width: $small-screen) {

    .select-lab-and-field{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      & label{
        
        display: none;
       
    } & select{
        width: 96%;
        &.select-field{
          @include form-fileds();
          top: 100%;
          width: 100%;
         
          
        }
    
    }
    & .error{
        color: $error-color;
        font-size: 0.75rem;
        text-align: center;
        margin: auto;
    }
    }

    

  }