@import '../../styles/main';
input{
  @include form-fileds();
}
select{
    @include form-fileds();
   
}

.full-width-select{
  @extend select;
  width:100%,
}

.error {
  color: $error-color;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}


//advancedForm
Form{
  width: 90%;
   max-width: 400px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
  
}

.input-field{
    @include form-fileds();
    padding: 0.6rem;
  }
  .select_field{
      @include form-fileds();
  
  }

 
  .fields-groupe{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    h2{
      font-size: 2rem;
      font-weight: 600;
      font-family: 'Lato'
    }
  }



  .button-group button{
    @include button($primary-color) ;
    padding:1rem;
    font-size: 1.2rem;
    font-family: 'Lato';
    border-collapse:collapse;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.66); 
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);
  }
  .error-message{
    color: RED;
  }
  .next-button{
    position: relative;
    //nav-down: 0;
    left: 95%;
  }

  .hidden {
    display: none;
  }

  @media (max-width: $small-screen) {
    .next-button{
      position: fixed;

      left: 70%;
      height: 3rem;
      width: fit-content;
    
      & i{
        font-size: 0.8rem;
      }
    }
    Form{
      width: 90%;
       max-width: 400px;
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       gap: 0rem;
      
    }
    .fields-groupe{
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      text-align: left;
      h2{
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Lato'
      }
    }
    
  }
  