@import '../../styles/main';
input{
  @include form-fileds();
}
select{
    @include form-fileds();
   
}
.full-width-select{
  @extend select;
  width:100%,
}


.error {
  color: $error-color;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}



form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  & label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 1rem 0 0.2rem;
  }
}







button {
    @include button($third-color)
    }

 
    

.date-field {
  width: 80%;
}


.employee-form {
  max-height: 100%;
  width: 90%;
  overflow-y: auto;
 
}

//advancedForm
Form{
  width: 90%;
   max-width: 400px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;
  
}

.input-field{
    @include form-fileds();
    padding: 0,5rem;
  }
  .select_field{
      @include form-fileds();
  
  }

  .lab-and-field{
    display: flex;
    width: 100%;
    gap: 2rem;
    & label{
        font-size: 1rem;
        font-weight: bold;
        display: inline;
        text-align: left;
        margin: 1rem 0 0.2rem;
        width: 30%;
    } & Field{
width: 66%;
    }
    & .error{
        color: $error-color;
        font-size: 1rem;
        text-align: left;
        margin-top: 0.25rem;
        margin-left: -1;
    }

  }
  .fields-groupe{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    
   
    h2{
      font-size: 1.6rem;
      font-weight: 400;
      font-family: 'Lato'
    }
  }
  .submit-button{ 
    @extend button;
    margin-left: calc(2%);
   width: 95%;
   display: flex;
   gap: 2rem;
   flex-direction: row;
  }

  .button-group button{
    @include button($primary-color) ;
    padding:1rem;
    font-size: 1,2rem;
    font-family: 'Lato';
    border-collapse:collapse;
-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.66); 
box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);

  }
  .error-message{
    color: RED;
  }
  .next-button{
    position: relative;
    nav-down: 0;
    left: 95%;
  }

 
  .hidden {
    display: none;
  }