@import './variables';
//MAIN NAV 
@mixin side-nav($display-type) {
    display: flex;
    flex-direction: $display-type;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    width: 3vw;
    background-color: $primary-color;
    & a{
        font-weight: bold;
        color: var(--bg-primary)
    }
    &-item {
        text-decoration: none;
        margin-right: 0.5rem;
    }
    &:hover {
        text-decoration: underline;
    }
    &-logo {
        display: flex;
        align-items: center;
        color: var(--text-primary)
          
    }&-logo-image {
        max-width: 100%;
        width: 140px;
    }
}
@mixin side-nav-mobile{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100vw;
    height: 5vw;
   
    position: fixed;
    bottom: 0;
    background-color: $primary-color;
    & a{
        font-weight: bold;
        color: var(--bg-primary)
    }
    &-item {
        text-decoration: none;
        margin-right: 0.5rem;
    }
    &:hover {
        text-decoration: underline;
    }
    &-logo {
        display: flex;
        align-items: center;
        color: var(--text-primary)
          
    }&-logo-image {
        max-width: 100%;
        width: 140px;
    }

}
@mixin menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    min-height: max-content;
    //height: 100%;
    & a .icon {
        width: 80%;
        height: 80%;
        padding: 0.4rem;
        & img {
            width: 4rem;
        height: 4rem;
            object-fit: contain;
        }
    }
}
@mixin menu-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    & a .icon {
        width: 50%;
        height: 50%;
        & img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
        }
    }
}

//pages
@mixin page-title{
font-size:3.7rem;
color:$primary-color;
font-weight:900 ;
text-align: left;
font-family: 'Lato';
margin:1rem auto;
}
@mixin page-subtitle{
  
        font-family: 'Roboto';
        color: black;
        font-size: 2rem;
        margin: 0rem auto;
        font-family: 'Latoitalic';
       
}
//FORM

@mixin form-fileds(){
    width: 90%;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: $secondary-color;
    border: 0.1rem solid #a0aec0;
    background-color:  $fields_bg-color;
    border-radius: 10px;
    outline: none;
    margin-bottom: 1rem;
    &:focus{
        border-color:  $secondary-color;
        background-color:$third-color;
        color: white;
    }
    &::placeholder {
        color: #a0aec0;
      }
    &.input-error{
        border: 0.1rem solid $error-color;

    }
    &[type="checkbox"] {
        width: fit-content;
        margin-right: 0.5rem;
        transform: scale(1.25);
      }
}
@mixin button($background-color){
    display: block;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
    background-color: $background-color;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    min-width: 4rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color: white;
        background-color:$secondary-color;
    }

}

  .button-group{
display: flex;
flex-direction: row;
justify-content: space-between;
  }
  @mixin  shadow{
    webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.66); 
box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);
  }