@import '../../styles/main';

.addEmployees{
    @include button($primary-color);
    width:fit-content;
    padding: 1rem;
    @include shadow;
}
.error-no-data{
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato';
    margin: 1rem auto;
    width: 80%;
    //border-radius: 1rem;
  
    & p{
        font-size: 2rem;
        color: $primary-color;
    }
}
.mocked-container {
    display: flex;
    flex-direction: column;
    gap:0rem;
    margin: 0;
} 
.tableControls{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: end;
    width: 80vw; 
}
.table-content{
    display:flex;
    flex-direction: column;
}

@media (max-width: $small-screen) {

.tableControls{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin: 1rem 5rem ;
    //background-color: red;
}
.table-content{
    display:flex;
    flex-direction: column;
   // height: 70vh;
  //  background-color:red;
}
}