@import '../../styles/main';
h4 {
    color: brown;
}
.addEmployees{
    @include button($primary-color);
    width:fit-content;
    padding: 1rem;
    @include shadow;
}
.error-no-data{
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato';
    margin: 1rem auto;
    width: 80%;border-radius: 1rem;
  
    & p{
        font-size: 2rem;
        color: $primary-color;
    }
}
.mocked-container {
    display: flex;
    flex-direction: column;
    gap:0rem;
    margin: 0;
} 
.hidden {
    display: none;
  }