@import '../../styles/main';
button {
    @include button($third-color)
    }


.addEmployees{
    @include button($primary-color);
    width:fit-content;
    padding: 1rem;
    @include shadow;
}
.error-no-data{
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato';
    margin: 1rem auto;
    width: 80%;
  
    & p{
        font-size: 2rem;
        color: $primary-color;
    }
}
.mocked-container {
    display: flex;
    flex-direction: column;
    gap:0rem;
    margin: 0;
} 
.tableControls{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: flex-end;
    width: 80vw; 
}
.table-content{
    display:flex;
    flex-direction: column;
}

@media (max-width: $small-screen) {

.tableControls{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0rem 3rem ;
  
}
.table-content{
    display:flex;
    flex-direction: column;

}
}


