@import '../../styles/main';
.title{
  @include page-title;
  
}


@media (max-width: $small-screen) {
  .title{
    @include page-title;
    margin-top: 25%;
    margin-bottom: 1%;
    color:$third-color;
    font-size: 2rem;
    
  }
 
 
}