@import '../../styles/main';
.one-field-groupe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.lab-and-field{
    display: flex;
    width: 100%;
    gap: 2rem;
    & label{
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        width: 30%;
    } & Field{
        width: 66%;
    }
    & .error{
        color: $error-color;
        font-size: 1rem;
        text-align: left;
        margin-top: 0.25rem;
        margin-left: -1;
    }

  }