@import '../../styles/main';
.employees-table {
    table-layout: fixed;
    width: 90%;
    margin: 1rem auto;
border-collapse:collapse;
-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.66); 
box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.4);

 & thead{
    color:$primary-color;
    cursor: pointer;
    background-color: $primary-color;
    color: white;
 
   & .table-filter { //input in table
        border: none;
        background-color: transparent;
        color: white;
      
        &::placeholder {
          color: white;
          font-size: 1rem;
        }
      }
   

 }
 & .employee-cell{
   // border: solid 1px $third-color;
   border: solid O,5rem white;
    text-align: left;
    font-size: 0.9rem;
    padding: 1rem;
   
 }
 & tr {
    &:hover{
        background-color: $secondary-color;
        color: white;
     }
 }

}
th {
    & span{
        margin-right: 0.6rem;
    }
   
    
}
.table-header {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  

 
  .hidden{
    display: none;
  }
//pagination
.pagination-select{
width: fit-content;
background-color: white;
margin-left: 1rem;
}